<%= turbo_frame_tag "farming-advisor" do %>
  <% if @farming_advice.present? %>
    <div class="optimizer-advisor">
      <h2 class="optimizer-results-title">&gt; FARMING_ADVISOR</h2>
      <div class="optimizer-advisor-card">
        <p class="optimizer-advisor-text"><%= @farming_advice %></p>
      </div>
    </div>
  <% end %>
<% end %>
